DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/matchinfluence
CHROMA_DB_PATH=./chroma_data

OPENROUTER_API_KEY=
LLM_MODEL_NAME=openai/gpt-3.5-turbo

OPENAI_API_KEY=
YOUTUBE_API_KEY=
RAPIDAPI_KEY=